list {
	display: block;
	width: 100%;
	padding-top:30px;
}

tyre {
	display: block;
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	width: 100%;
	margin-top: 10px;
	padding-top:5px;
	padding-bottom:5px;
	width: 80%;
	margin-left: 10%;
}
/*get first children*/
tyre > * {
	margin-left: 15px;
}

pattern > * {
	margin-left: 5px;
}

a{
	cursor: pointer;
	min-width: 20px;
	display: inline-block;
	border-radius: 10px;
	text-align: center;
	margin-right: 5px;
	text-decoration: none;
}

a[action='edit'], a[action='save'] {
	background-color: blue;
}

a[action='add'] {
	background-color: green;
	margin-right: 10%;
}

a[action='save'], [action='cancel'] {
	width: 100px;
	margin-top: 10px;
	float: none;
	clear: both;
}

a[action='remove'], [action='cancel'] {
	background-color: red;
}