list {
	display: block;
	width: 100%;
	padding-top:30px;
}

tyre {
	display: block;
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	width: 100%;
	margin-top: 10px;
	padding-top:5px;
	padding-bottom:5px;
	width: 80%;
	margin-left: 10%;
}
/*get first children*/
tyre > * {
	margin-left: 15px;
}

pattern > * {
	margin-left: 5px;
}

event{
	cursor: pointer;
	width: 20px;
	display: inline-block;
	color: white;
	border-radius: 10px;
	text-align: center;
	float: right;
	margin-right: 5px;
}

event[action='edit'], event[action='save'] {
	background-color: blue;
}

event[action='add'] {
	background-color: green;
	margin-right: 10%;
}

event[action='save'] {
	width: 100px;
	margin-top: 10px;
	float: none;
	clear: both;
	background-color: blue;
}

event[action='remove'] {
	background-color: red;
}

.form {
	display: none;
}

.visible {
	display: block;
}