list {
	display: grid;
	width: 100%;
}

tyre {
	/* margin: 30px; */
	display: inline-table;
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	width: 100%;
	margin-top: 10px;
	padding-top:5px;
	padding-bottom:5px;
	width: 50%;
}
/*get first children*/
tyre > * {
	margin-left: 15px;
}


event[action='edit'], event[action='remove'], event[action='save'] {
	cursor: pointer;
	width: 50px;
	display: inline-block;
	color: white;
	border-radius: 5px;
	text-align: center;
	float: right;
	margin-right: 5px;
}

event[action='edit'] {
	background-color: green;
}

event[action='remove'] {
	background-color: red;
}

event[action='save'] {
	background-color: gold;
}

.form {
	display: none ;
}

.visible {
	display: block;  ;
}